.gradle/
**/build/
build-output/
runtime/
.idea/
.vscode/

*.log
*.log.*
*.apk
*.zip
*.rar
*.class

platforms/android/libs/
platforms/android/local.properties
local.properties

srcClientdetu/Langla_data/**
srcClientdetu/animesoft/
!srcClientdetu/Langla_data/
!srcClientdetu/Langla_data/README-ASSETS.txt
!srcClientdetu/Langla_data/animesoft/
!srcClientdetu/Langla_data/animesoft/1/
!srcClientdetu/Langla_data/animesoft/1/arr_check_*.beatdz
!srcClientdetu/Langla_data/animesoft/1/arr_config.beatdz
!srcClientdetu/Langla_data/animesoft/1/arr_data_game.beatdz
!srcClientdetu/Langla_data/animesoft/1/arr_server.beatdz
!srcClientdetu/Langla_data/resource/
!srcClientdetu/Langla_data/resource/4.png
!srcClientdetu/Langla_data/resource/5.png
!srcClientdetu/Langla_data/resource/6.png
!srcClientdetu/Langla_data/resource/LangLa.ico
!srcClientdetu/Langla_data/resource/logo.ico
!srcClientdetu/Langla_data/resource/logo.png
!srcClientdetu/Langla_data/resource/font*.fnt
!srcClientdetu/Langla_data/resource/font*.png
!srcClientdetu/Langla_data/resource/font*.ttf
!srcClientdetu/Langla_data/resource/cafeta.ttf
